*{
    background-color: #ececeb;
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif ;
   
}
body{
    background-color: #ececeb;
}
.cl{
 color: #cda9b1;
}
main {
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: #ececeb;
}
.pages{
    font-weight: 400;
    font-size: 20px;
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;   
}
.title{
    text-align: center;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 85px;
    font-weight: 400;
}
.tg{
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 85px;
    font-weight: 400;
    padding-top: 25px;
}
.logo{
    font-family: Cambria, "Times New Roman", Times, serif;
    font-size: 95px;
    font-weight: 300;
}
.nav{
    --bs-nav-link-color: black;
    font-size: 25px;
    font-weight: bold;
}
.contact{
    list-style: none;
    padding-bottom: 3px;
}
/* to make the footer and header fixed check after coloring */
@media (min-width : 481px) {footer{ 
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.space{
    padding-bottom: 1.5rem ;
    padding-top: 1.5rem ;
}
.img-fluid{
    height: 95%;
}
}

@media (max-width : 480px) {
        #header{
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    main{
        margin-top: 0;
        margin-bottom: 0;
    }
    .logo {
        font-family: Cambria, "Times New Roman", Times, serif;
        font-size: 45px;
        font-weight: 300;
    }
    .display {
        display: none;
      }
      .space{
        padding-bottom: 0px ;
        padding-top: 0px ;
    }
    .img-fluid{
        height: 330px;
    }
    .fs{
        font-size: 30px;
        font-weight: 900;
        
    }
    .adr{
        font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif ;
        font-size: 10px;
    }
    .title{
        font-size: 35px;
    }
}
.adr{
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif ;
    font-size: 20px;
}
.fs{
    font-size: 40px;
    font-weight: 900;
    
}
.nav a .nav-link :hover{
    color: #cda9b1;
}